@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Signika+Negative:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

div {
    display: grid;
}

body {
    font-family: 'Signika Negative', sans-serif;
}

/* Header and Nav*/

#logo {
    font-family: 'Philosopher', sans-serif;
    color: #585858;
    font-size: 200%;
    letter-spacing: 4px;
    position: absolute;
    display: inline-block;
    text-decoration: none;
    margin-left: 25%;
    margin-top: 0.5%;


    animation-name: logo-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

nav {
    display: inline;

}

nav a {
    color: #545454;
    font-size: 120%;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    margin: auto 0;
}

nav li {
    list-style-type: none;
    padding: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    position: fixed;
    line-height: 60px;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background: #ffffff;
    z-index: 3;
}

menu {
    color: #585858;
}

.menu a:hover {
    border-bottom: 1px solid #585858;
}

.right-nav {
    float: right;
}

.left-nav {
    float: left;
}

#nav-menu-right {
    position: relative;
    right: 18%;
}

#nav-menu-left {
    position: relative;
    left: 22%;
}

@keyframes logo-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/*Main image*/

#mainphoto-container {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#main-photo {
    height: 800px;
    width: 100%;
    background: url('../images/yogapracticenamaste.webp') no-repeat;
}


#intro-box {
    font-size: 100%;
    text-transform: uppercase;
    width: 33%;
    height: 250px;
    padding: 2% 2% 2% 2%;
    background-color: rgba(180, 178, 178, 0.305);
    position: absolute;
    top: 40%;
    left: 150px;
    color: #ffffff;
}

#intro-box>h4 {
    font-weight: 100;
    font-size: 100%;
    padding-top: 1px;
}


#intro-box #triallesson-button {
    color: #ffffff;
    background-color: rgba(86, 141, 136, 0.623);
    border: solid 0.5px #585858;
    border-radius: 10px;

    position: absolute;
    bottom: 15%;
    right: 5%;
    text-decoration: none;
    padding: 1.5%;
}

/*Home Page*/

.main-info {
    padding: 5%;
    max-height: 250px;
    max-width: 100%;
    font-size: 115%;
    color: #545454;
    text-transform: uppercase;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#info-opening-times {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 15px;
    text-align: center;
}

.horizontal-line {
    border: solid 0.5px #5858585b;
}

#info-teachers {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 250px;
    justify-content: space-evenly;
}

#teacher-photo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

#teacher-photo:hover {
    transform: scale(1.1);
}

#teachers {
    text-align: center;
}

div li {
    list-style: none;
    padding: 0.5%;
}


/* Schedule page */


#schedule {
    background-color: rgba(180, 178, 178, 0.305);
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 60%;
    padding: 2%;
    padding-top: 10%;
    position: relative;
    top: 25%;
    border-collapse: collapse;
}

#schedule #table-header {
    font-weight: 300;
    font-size: 140%;
    color: #ffffff;
}

#schedule td {
    border-right: solid 1px #ffffffa6;
    border-left: solid 1px #ffffffa6;
}

/*Sign-up page*/

form {
    width: 90%;
    height: 350px;
    padding: 7% 5% 7% 5%;

    font-weight: 100;
    font-size: 130%;
    color: #ffffff;

}

form legend {
    font-weight: 400;
    font-size: 150%;
    color: #ffffff;

}

form input {
    background-color: rgba(141, 141, 141, 0);
    border: solid 1px #ffffffa6;
    border-radius: 10px;
    width: 12%;
    height: 200%;
    font-size: 90%;
    font-family: 'Signika Negative', sans-serif;
    color: #ffffff8a;
    padding: 4px;
    box-shadow: 0 0 0.7px 1px #d3d2d250;
    margin: 1%;
}

:focus-visible {
    outline: #ffffffa6 1px;
}

#form-container {
    background-color: rgba(54, 54, 54, 0.459);
    padding: 1%;
    border-radius: 15px;

    animation-name: formcontainer-zoomout;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

#submitbutton {
    font-size: 120%;
    background-color: #cfcfcf91;
}

#submitbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}

#submitbutton:active {
    background-color: #585858;
}

@keyframes formcontainer-zoomout {
    from {
        transform: scale(1.1)
    }

    to {
        transform: scale(1.0);
    }
}

/*Footer*/

footer {
    text-align: center;
    height: 15%;
}

ul .social-platforms {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    height: 15%;
}

.social-platforms li {
    display: inline;
}

.social-platforms>li>a>i {
    color: #585858;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    scale: 1.8;
}


/*Contact page*/

.contact-us {
    color: #ffffff;
    position: relative;
    height: 80%;
    width: 100%;
    padding: 2% 2% 2% 0%;
    font-size: 130%;
    font-weight: 200;
    text-align: center;
}


#contact {
    position: relative;
    right: 15%;
    top: 15%;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    float: right;
}

#address {
    position: relative;
    left: 20%;
    bottom: 74%;
    float: left;
}

.fa-whatsapp {
    padding: 3%;
    scale: 1.3;
    color: #ffffff;
}

#follow-us {
    position: relative;
    left: 30%;
    top: 80%;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
}

#vertical-line {
    border-left: solid 2px #ffffff96;
    height: 300px;
    position: absolute;
    left: 50%;
    bottom: 50%;
}